<div class="container bg-black shawdow-lg rounded p-2" style="min-height:491px;">
    <h1>Mortgage Payment Calculator</h1>
    <hr />
    <div class="row text-center">
        <!--Left Col-->
        <div class="col-md-6 col-sm-12">
            <div class="row">
                <div class="col-md-8 offset-md-2 col-12 text-center">
                    <form class="form">
                        <div class="row">
                            <div class="col text-center">
                                <div class="form-group form-group-lg my-3">
                                    <label class="form-label fs-4">Purchase Price:</label>
                                    <input #purchasePrice type="tel"
                                        style="text-align:center;width: 75%; margin: auto; margin-bottom: 5px;"
                                        class="form-control input-lg text-center mt-1"
                                        value="{{ purchasePrice.value | currency:'USD' :'symbol':'1.0' }}"
                                        (change)="processKeyup(purchasePrice.value, downPayment.value, interestRate.value, closingCosts.value)">
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-group form-group-lg">
                                <label class="form-label fs-4">Interest Rate:</label>
                                <!-- <input #interestRate type="tel" style="width: 75%; margin: auto; margin-bottom: 5px;"
                                    class="form-control mt-1 text-center input-lg"
                                    (keyup)="processKeyup(purchasePrice.value, downPayment.value, interestRate.value)" /> -->

                                <select #interestRate style="width: 75%; margin: auto; margin-bottom: 5px;"
                                    class="form-select text-center mt-1 input-lg"
                                    (change)="processKeyup(purchasePrice.value, downPayment.value, interestRate.value, closingCosts.value)">
                                    <option></option>
                                    <option value=".03">3.00%</option>
                                    <option value=".0325">3.25%</option>
                                    <option value=".0355">3.50%</option>
                                    <option value=".0375">3.75%</option>
                                    <option value=".04">4.00%</option>
                                    <option value=".0425">4.25%</option>
                                    <option value=".045">4.50%</option>
                                    <option value=".0475">4.75%</option>
                                    <option value=".05">5.00%</option>
                                    <option value=".0525">5.25%</option>
                                    <option value=".055">5.50%</option>
                                </select>
                            </div>

                            <!-- <button type="button" class="btn btn-success w-100 btn-lg mt-4 fs-4"
                                (click)="processKeyup(purchasePrice.value, downPayment.value, interestRate.value)">Calculate</button> -->

                        </div>
                        <div class="col-12">
                            <div class="form-group form-group-lg">
                                <label class="form-label fs-4">Down Payment:</label>
                                <select #downPayment style="width: 75%; margin: auto; margin-bottom: 5px;"
                                    class="form-select text-center mt-1 input-lg"
                                    (change)="processKeyup(purchasePrice.value, downPayment.value, interestRate.value, closingCosts.value)">
                                    <option></option>
                                    <option value=".03">3.00%</option>
                                    <option value=".04">4.00%</option>
                                    <option value=".05">5.00%</option>
                                    <option value=".06">6.00%</option>
                                    <option value=".07">7.00%</option>
                                    <option value=".08">8.00%</option>
                                    <option value=".09">9.00%</option>
                                    <option value=".10">10.00%</option>
                                    <option value=".15">15.00%</option>
                                    <option value=".20">20.00%</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-group form-group-lg">
                                <label class="form-label fs-4">Closing Costs:</label>
                                <select #closingCosts style="width: 75%; margin: auto; margin-bottom: 5px;"
                                    class="form-select text-center mt-1 input-lg"
                                    (change)="processKeyup(purchasePrice.value, downPayment.value, interestRate.value, closingCosts.value)">
                                    <option></option>
                                    <option value=".01">1.00%</option>
                                    <option value=".02">2.00%</option>
                                    <option value=".03">3.00%</option>
                                    <option value=".04">4.00%</option>
                                    <option value=".05">5.00%</option>
                                </select>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!--Right Col-->
        <div class="col-md-6 col-sm-12">
            <div class="row">
                <div class="col-md-8 offset-md-2 col-10 offset-1 text-center">
                    <div class="row">
                        <div class="col-xs-1-12 p-4">
                            <div class="card">
                                <div class="card-body">
                                    <h3 class="card-title fs-3">Mortgage Payment</h3>
                                    <h6 class="text-dark">(Not Included - Taxes/Insurance)</h6>
                                    <p class="card-text">{{ mortgagePayment | currency:'USD' }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8 offset-md-2 col-10 offset-1 text-center">
                    <div class="row">
                        <div class="col-xs-1-12 p-4">
                            <div class="card">
                                <div class="card-body">
                                    <h3 class="card-title fs-3">Total Costs</h3>
                                    <h6 class="text-dark">(Down Payment + Closing Costs)</h6>
                                    <p class="card-text">{{ downPaymentTotal + closingCostsTotal | currency:'USD' }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr />
    <div class="row">
        <span class="col-12 text-center" style="font-size:12px;">*Disclaimer: Assumed calculations do not include
            closing costs & other associated fees. Pleas use this calculator for illustrative purposes only.*</span>
    </div>
