<nav class="navbar navbar-expand-md  pb-2 mb-2 d-">
  <div class="container">

    <h5 class="m-2" routerLink="/">Simple Calculators</h5>

    <!-- <a class="fs-3" routerLink="/">Cashflow Dividends</a> -->
    <div class="dropdown ms-auto d-none">
      <button class="btn btn-dark dropdown-toggle fs-4 text-center" type="button" id="dropdownMenuButton"
        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Calculators
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">

        <a class="nav-link text-dark" routerLink="/Calculators/CoveredCallETFIncome" routerLinkActive="true">Covered
          Call
          Income</a>
        <a class="nav-link text-dark" routerLink="/Calculators/MortgagePayment" routerLinkActive="true">Mortgage
          Payment</a>
        <a class="nav-link text-dark" routerLink="/Calculators/RetirementIncome" routerLinkActive="true">Retirement
          Income</a>
        <a class="nav-link text-dark" routerLink="/Calculators/PortfolioIncome" routerLinkActive="true">Portfolio
          Income</a>
      </div>
      <!-- </div> -->
      <!-- </div> -->
    </div>
  </div>
</nav>
<router-outlet></router-outlet>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-kQtW33rZJAHjgefvhyyzcGF3C5TFyBQBA13V1RKPf4uH+bwyzQxZ6CmMZHmNBEfJ" crossorigin="anonymous"></script>
