<div class="container mt-3 bg-black shawdow-lg rounded my-auto p-3 pb-3 mb-2" style="min-height:491px;">
    <h1>Portfolio Income Calculator</h1>
    <hr />
    <div class="row text-center">
        <!--Left Col-->
        <div class="col-md-6 col-sm-12">
            <div class="row">
                <div class="col-md-8 offset-md-2 col-12 text-center">
                    <form class="form">
                        <div class="row">
                            <div class="col text-center">
                                <div class="form-group form-group-lg my-3">
                                    <label class="form-label fs-3">Portfolio Balance:</label>
                                    <!-- <input #portfolioBalance name="portfolioBalance" type="tel"
                                        style="text-align:center;width: 75%; margin: auto; margin-bottom: 5px;"
                                        class="form-control input-lg text-center mt-1"
                                        value="{{ portfolioBalance.value | currency:'USD':'symbol':'3.0'}}"
                                        (change)="processKeyup(portfolioBalance.value, incomeYield.value)"> -->
                                        <select #portfolioBalance (change)="processKeyup(portfolioBalance.value, incomeYield.value)"
                                        class="form-select text-center mt-1 input-lg"
                                        style="width: 75%; margin: auto; margin-bottom: 5px;">
                                        <option></option>    
                                        <option value="10000">$10,000</option>
                                            <option value="25000">$25,000</option>
                                            <option value="50000">$50,000</option>
                                            <option value="75000">$75,000</option>
                                            <option value="100000">$100,000</option>
                                            <option value="250000">$250,000</option>
                                            <option value="500000">$500,000</option>
                                            <option value="750000">$750,000</option>
                                            <option value="1000000">$1,000,000</option>
                                            <option value="1500000">$1,500,000</option>
                                            <option value="2000000">$2,000,000</option>
                                            <option value="2500000">$2,500,000</option>
                                            <option value="3000000">$3,000,000</option>
                                            <option value="5000000">$5,000,000</option>
                                            <option value="10000000">$10,000,000</option>
                                        </select>
                                </div>
                            </div>
                        </div>

                        <div class="col-12 py-5">
                            <div class="form-group form-group-lg">
                                <label class="form-label fs-3">Portfolio Yield:</label>
                                <select #incomeYield name="yield"
                                    (change)="processKeyup(portfolioBalance.value, incomeYield.value)"
                                    class="form-select text-center mt-1 input-lg"
                                    style="width: 75%; margin: auto; margin-bottom: 5px;">
                                    <option></option>
                                    <option value=".01">1.00%</option>
                                    <option value=".02">2.00%</option>
                                    <option value=".03">3.00%</option>
                                    <option value=".04">4.00%</option>
                                    <option value=".05">5.00%</option>
                                    <option value=".06">6.00%</option>
                                    <option value=".07">7.00%</option>
                                    <option value=".09">8.00%</option>
                                    <option value=".09">9.00%</option>
                                    <option value=".10">10.00%</option>
                                    <option value=".11">11.00%</option>
                                    <option value=".12">12.00%</option>
                                    <option value=".13">13.00%</option>
                                    <option value=".14">14.00%</option>
                                    <option value=".15">15.00%</option>
                                </select>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>
        <!--Right Col-->
        <div class="col-md-6 col-sm-12">
            <div class="row">
                <div class="col-md-8 offset-md-2 col-10 offset-1 text-center">
                    <div class="row">
                        <div class="col-xs-1-12 p-5">
                            <div class="card">
                                <div class="card-body">
                                    <h3 class="card-title">Annual Income</h3>
                                    <p class="card-text">
                                        {{ portfolioIncome | currency:'USD':'symbol':'1.0' }}
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-1-12 p-5 pt-4">
                            <div class="card">
                                <div class="card-body">
                                    <h3 class="card-title">Monthly Income:</h3>
                                    <p class="card-text">
                                        {{ portfolioIncome/12 | currency:'USD':'symbol':'1.0' }}
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr />
    <div class="row">
        <span class="col-12 text-center" style="font-size:12px;">*Disclaimer: Assumed income does not include additional
            taxes or fees that the investor may occur.*</span>
    </div>
