/* You can add global styles to this file, and also import other style files */
@import "../node_modules/bootstrap/scss/bootstrap";


label {
    font-size: 1.2rem;
  }
  
  .form-control,
  .card-text {
    font-size: 1.5rem;
    color: rgb(0, 0, 0);
  }
  
  .card-title {
    color: rgb(0, 0, 0);
  }
  
  .container {
    color: white;
  }
  