<div class="container mt-3 bg-black shawdow-lg rounded my-auto p-3 pb-3 mb-2" style="min-height:491px;">
  <hr class="d-none" />
  <div class="row my-1 my-md-3">
    <h1>Web Calculators - <i class="fa fa-bar-chart"></i></h1>
    <hr />
    <div class="row" style="min-height: 50vh;">
      <div class="col-6 col-md my-1 text-center">
        <a title="Retirement Income Calculator" routerLink="Calculators/RetirementIncome" routerLinkActive="active"><img
            src="assets/Retirement-Income-Calculator-1.png" class="img-fluid rounded"
            alt="Retirement Income Calculator" />
        </a>
        <a class="fs-4 text-white" title="Retirement Income Calculator" routerLink="Calculators/RetirementIncome"
          routerLinkActive="active">Retirement
          Income</a>
      </div>
      <div class="col-6 col-md-3 my-1 text-center">
        <a title="Portfolio Income Calculator" routerLink="/Calculators/PortfolioIncome" routerLinkActive="active"><img
            src="assets/portfolio-income-calculator-4.jpg" class="img-fluid rounded" alt="Portfolio Income Calculator" />
        </a>
        <a class="fs-4 text-white" title="Portfolio Income Calculator" routerLink="/Calculators/PortfolioIncome"
          routerLinkActive="active">Portfolio Income</a>
      </div>
      <div class="col-6 col-md-3 my-1 text-center">
        <a title="Covered Call ETF Income Calculator" routerLink="/Calculators/CoveredCallETFIncome"
          routerLinkActive="active"><img src="assets/Covered-Call-ETF-Income-Calculator.png" class="img-fluid rounded"
            alt="Covered Call ETF Income Calculator" />
        </a>
        <a class="fs-4 text-white" title="Covered Call ETF Income Calculator" routerLink="/Calculators/RetirementIncome"
          routerLinkActive="active">Covered Call ETF</a>
      </div>
      <div class="col-6 col-md-3 my-1 text-center">
        <a title="Mortgage Payment Calculator" routerLink="/Calculators/MortgagePayment" routerLinkActive="active"><img
            src="assets/mortgage-payment-calculator-4.jpg" class="img-fluid rounded" alt="Mortgage Payment Calculator" />
        </a>
        <a class="fs-4 text-white" title="Mortgage Payment Calculator" routerLink="/Calculators/MortgagePayment"
          routerLinkActive="active">Mortgage Payment</a>
      </div>
    </div>
  </div>
  <hr />

  <div class="row my-1 d-none">
    <h1>Web Applications - <i class="fa fa-bar-chart"></i></h1>
    <hr />
    <div class="row">
      <div class="col-6 col-md my-1 text-center">
        <a class="text-white" target="_blank" title="OptionsLogger.com" href="https://optionslogger.com"><img
            src="assets/ol.jpg" class="img-fluid rounded " alt="OptionsLogger.com" />
        </a>
        <a class="fs-5 text-white" target="_blank" title="OptionsLogger.com"
          href="https://optionslogger.com">OptionsLogger.com</a>
      </div>
      <div class="col-6 col-md my-1 text-center">
        <a target="_blank" title="BudgetLogger.com" href="https://budgetlogger.com"><img src="assets/budget-logger.jpg"
            class="img-fluid rounded" alt="BudgetLogger.com" />
        </a>
        <a target="_blank" class="fs-5 text-white" title="BudgetLogger.com"
          href="https://budgetlogger.com">BudgetLogger.com</a>
      </div>
      <!-- <div class="col-12 col-md my-1 text-center">
            <a title="Retirement Income Calculator" routerLink="Calculators/RetirementIncome" routerLinkActive="active"><img
                src="assets/Retirement-Income-Calculator-1.png" class="img-fluid rounded"
                alt="Retirement Income Calculator" />
            </a>
            <a class="fs-4 text-white" title="Retirement Income Calculator" routerLink="Calculators/RetirementIncome"
              routerLinkActive="active">Retirement
              Income Calculator</a>
          </div>
          <div class="col-12 col-md my-1 text-center">
            <a title="Covered Call ETF Income Calculator" routerLink="/Calculators/CoveredCallETFIncome"
              routerLinkActive="active"><img src="assets/Covered-Call-ETF-Income-Calculator.png" class="img-fluid rounded"
                alt="Covered Call ETF Income Calculator" />
            </a>
            <a class="fs-4 text-white" title="Covered Call ETF Income Calculator" routerLink="/Calculators/RetirementIncome"
              routerLinkActive="active">Covered Call ETF
              Calculator</a>
          </div> -->
    </div>
  </div>
  <hr class="d-none" />

  <div class="row my-1" style="display:none;">
    <h1>Ex. Monthly Dividend Portfolios - <i class="fa fa-calendar"></i></h1>
    <hr />
    <div class="row">
      <div class="col-6 col-md-3 my-1 text-center">
        <a title="Consumer Based Portfolio" routerLink="/DividendCalendar/" routerLinkActive="active"><img
            src="assets/schedule.jpg" class="img-fluid rounded" alt="Consumer Based Portfolio" />
        </a>
        <a class="fs-4 text-white" title="Consumer Based Portfolio" routerLink="/DividendCalendar/"
          routerLinkActive="active">Consumer Based</a>
      </div>
      <div class="col-6 col-md-3 my-1 text-center">
        <a title="Tech. Based" routerLink="/DividendCalendar/" routerLinkActive="active"><img src="assets/tech.png"
            class="img-fluid rounded" alt="Tech. Based Dividend Portfolio" />
        </a>
        <a class="fs-4 text-white" title="Technology Based" routerLink="/DividendCalendar/"
          routerLinkActive="active">Technology
          Based</a>
      </div>
    </div>
  </div>
  <hr style="display:none;" />
  <p style="font-size:10px;">*<em><u>DISCLAIMER:</u></em>I am not a financial advisor, the information provided throughout this website is desinged to be used
    for educational purposes only. Do your own reseach before investing, seek financial advice from a certified
    financial advisor if needed.*
  </p>
</div>
